.coming-soon-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/nightSky.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; /* Adjust opacity as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  }
  
  .coming-soon-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 8px;
    text-align: center;
  }
  